#outer
{
    display:flex;
    justify-content: center;
    
}
#inner
{
    display:flex;
    width:420px;
    height:420px;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
}
#green
{
    width:200px;
    height:200px;
}
#red
{
    width:200px;
    height:200px;
    
}
#yellow
{
    width:200px;
    height:200px;
}
#blue
{
    width:200px;
    height:200px;
}
.bord
{
border:3px solid grey;
border-radius:5px;
/* opacity: 0.5; */
}
#head
{
    text-align:center;
    color:white;
}
#level
{
    text-align:center;
    color:white;
}
body{
    background-color: rgb(0,0,0);
}
#start
{
    background-color: blue;
    color:white;
    height:45px;
    width:65px;
}
#button_div
{
    display:flex;
    justify-content: center;
    margin-top:20px;
}

.color1
{
    background-color: green;
}
.color2
{
    background-color: yellow;
}
.color3
{
    background-color: red ;
}
.color4
{
    background-color: blue;
}
.flash
{
    background-color: white;

}
.over
{
    background-color: red;
}